# Python
__pycache__/
*.py[cod]

# Environment
.env
.env.*

# Virtual envs
venv/
.venv/
env/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
docker-compose.override.yml

# Local DB
*.sqlite3
*.db
